<div class = "categoryTitle"><p><%=  cat.name %></p></div>
<%= render 'products/modules/mainDisplay/moduleMainProducts', :cat => cat %>
<%= render 'products/modules/mainDisplay/modulePageDisplay', :cat => cat %>
