<% (0..(@display[cat][:displayHeight]-1)).each do |j| %>
    <div class="row">
      <% (0..(@displayWidth-1)).each do |i| %>
          <div class="span3">
            <% if @display[cat][:products][(j * @displayWidth)+ i] %>
                <%= render 'products/modules/mainDisplay/moduleProduct', :product =>
                        @display[cat][:products][(j * @displayWidth)+ i] %>
            <%end%>
          </div>
      <%end%>
    </div>
<%end%>