<p>
  <%=  link_to "[First]", :controller => "products", :action => "index", :page_num => 1 %>
  <% (1..@display[cat][:totalPages]).each do |i| %>
      <%= link_to "#{i}", :controller => "products", :action => "index",
                  :page_num => i, :cat => cat %>
  <%end%>
  <%=  link_to "[Last]", :controller => "products", :action => "index", :page_num => @display[cat][:totalPages], :cat => cat.id %>
</p>
