<div class = "product-container">
  <p class="product-title"><%= product.name %></p>
  <div class = "product-thumb"> <%= image_tag product.imageSmall%></div>
  <div class="product-content">
  <p><%=  product.descShort %></p>
  </div>
</div>